.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
}

.loader {
  font-size: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
