body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: #0f0839;*/


  color: #fff;



  background: #03001e;
/*background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);*/
/*  background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);*/

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
