.app {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 3%;
  padding: 3%;
}

.mainSection {
  display: flex;
  flex-direction: column;
  flex-basis: 78%;
}
