.allSongsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}


.allSongsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /*max-width: 80%;*/
  align-items: center;
  width: 100%;
}