.audio {
  display: block;
  background-color: #a293fa;
}

audio::-webkit-media-controls-panel {
  background-color: #a293fa;
}

.track {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.track-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

.title {
  margin: 0;
}

.artist {
  margin: 0;
}
